* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.faq-toggle-switch {
  display: none;
}

.nav-bar {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 16px;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-bar__links {
  color: #000000;
}

.nav-bar__link {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.nav-bar__link:hover {
  color: #757575;
}

.nav-bar__logo {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
}

.nav-bar__logo-image {
  width: 80px;
}

.nav-bar__logo-text {
  width: 45px;
}

.faq {
  margin: auto;
  max-width: 1200px;
  padding: 24px;
}

.faq__answer {
  color: turquoise;
  display: none;
  margin-top: 4px;
}

.faq-toggle-switch:checked ~ .faq__answer {
  display: block;
}

.faq__content {
  font-size: 24px;
  padding: 16px;
}

.faq__header {
  align-items: center;
  display: flex;
  padding: 32px 16px;
}

.faq__header-question {
  height: 40px;
  width: 40px;
}

.faq__header-text {
  height: 40px;
  margin: 4px 0 0 16px;
  max-width: 600px;
  width: 80%;
}

.faq__question {
  color: #000000;
  cursor: pointer;
}



.form {
  margin-top: 16px;
  width: 200px;
}

.form__button {
  background: #5AC5D1;
  border-radius: 2px;
  color: #ffffff;
  height: 32px;
  width: 50%;
}

.form__input {
  border: 1px solid gray;
  border-radius: 2px;
  height: 32px;
  margin-bottom: 8px;
  padding: 8px;
}

.form__input--name, .form__input--region {
  width: 50%;
}

.form__input--name {
  margin-right: 4px;
}

.form__input--region {
  margin-left: 4px;
}

.form__input--email {
  width: 100%;
}

.form__row--1 {
  display: flex;
  width: 100%;
}

.form__row--2 {
  width: 100%;
}



.hero {
  background-co: white;
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.hero__container {
  display: flex;
  width: 100%;
}

.hero__phone {
  height: 380px;
  margin-top: 50px;
  width: auto;
}

.hero__text {
  height: 200px;
  margin-top: 70px;
  width: auto;
}

.how-it-works {
  background-color: #000000;
  padding: 24px;
  text-align: center;
}

.how-it-works__arrow {
  height: auto;
  margin: 24px;
  width: 32px;
}

.how-it-works__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 32px;
  padding-top: 24px;
  max-width: 1000px;
  overflow: scroll;
}

.how-it-works__content-text {
  margin-top: 16px;
  width: 100%;
}

.how-it-works__content-group {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.how-it-works__content-icon {
  height: 100px;
}

.how-it-works__text {
  height: 50px;
  margin: 32px 0;
}

.process {
  background-color: #ffffff;
  padding: 24px;
  color: orange;
  margin: auto;
  max-width: 1200px;
  text-align: center;
}

.process__text {
  color: #000000;
  font-size: 32px;
  margin: 32px auto;
  max-width: 800px;
  width: 100%;
}

.process {

}

.process__arrow {
  height: auto;
  margin: 24px;
  width: 32px;
}

.process__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 40px 0;
  max-width: 1000px;
  overflow: scroll;
}

.process__content-text {
  margin-top: 16px;
  width: 100%;
}

.process__content-group {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.process__content-icon {
  height: 100px;
}

.process__content-icon--first {
  height: 120px;
}

.process__content-icon--second {
  height: 75px;
}

.process__text {
  margin-top: 32px;
}



.stay-in-touch {
  background-color: #000000;
  padding: 24px;
  text-align: center;
}

.stay-in-touch__content {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.stay-in-touch__content-image {
  max-width: 250px;
  width: 25%;
}

.stay-in-touch__content-divider {
  height: 100px;
}

.stay-in-touch__header {
  max-width: 500px;
  padding: 40px 0;
  width: 60%;
}



.footer {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  width: 100px;
}

.footer-social img {
  height: 40px;
}

@media screen and (max-width: 480px) {
  .faq__question, .faq__answer {
    font-size: 32px;
  }
  .nav-bar {
    height: 100px;
  }
  .nav-bar * {
    font-size: 20px;
  }
}
